# Para desarrollo local (Web o Simulador iOS)
EXPO_PUBLIC_API_URL=http://localhost:3000/api/v1

# Para dispositivo físico con Expo Go (reemplaza con la IP de tu PC en la red local)
# EXPO_PUBLIC_API_URL=http://192.168.1.149:3000/api/v1

# Para emulador Android
# EXPO_PUBLIC_API_URL=http://10.0.2.2:3000/api/v1

